<?xml version="1.0" encoding="UTF-8"?>

<?dom version="19.0" ?>

<colorTable backgroundIndex="-1" name="color_table" size="256">
    <colorDefinition alpha="0xFF" index="107" name="NIGHT MODE" rgb="0x00FFFF"/>
    <colorDefinition alpha="0xFF" index="108" name="SKY" rgb="0x282D64"/>
    <colorDefinition alpha="0xFF" index="109" name="EARTH" rgb="0x3A4B7D"/>
</colorTable>

<!-- crc32 : 2657734263 -->

