SSM::cycle 1

SSM::set roll 10.0
SSM::cycle 1

SSM::set roll 20.0
SSM::cycle 1

SSM::set pitch 10.0
SSM::cycle 1

SSM::set pitch 20.0
SSM::cycle 1

SSM::set vT1 1
SSM::set sT1X 50.0
SSM::set sT1Y 50.0
SSM::cycle 1

SSM::set xT1 50.0
SSM::set xT1 50.0
SSM::cycle 10

SSM::set visFlightTunnel false
SSM::cycle 2

SSM::cycle 1

SSM::set visFlightTunnel true
SSM::cycle 10

SSM::set rT 100.0
SSM::cycle 10

SSM::set vT1 2
SSM::cycle 6

SSM::cycle 100

SSM::set vT1 1
SSM::set vT1 4
SSM::cycle 300

SSM::set xT1 1.0
SSM::set xT1 1.0
SSM::cycle 10

SSM::set sT1Y 1.0
SSM::cycle 100

SSM::set xT2 2.0
SSM::set xT2 2.0
SSM::set vT2 1
SSM::cycle 10

SSM::set sT2X 2.0
SSM::set sT2Y 2.0
SSM::cycle 100

SSM::set sT3X 3.0
SSM::set sT3Y 3.0
SSM::set vT3 1
SSM::cycle 10

SSM::set sT4X 4.0
SSM::set sT4Y 4.0
SSM::set vT4 1
SSM::cycle 10
SSM::cycle 1
SSM::set vT2 2
SSM::set vT3 3
SSM::check image {"..\images\references\Scenario13_6.bmp"} filter={"..\images\filters\filter_1592291236050.png"}
SSM::cycle 30
SSM::set pitch 0.0
SSM::set roll 0.0
SSM::cycle 1
SSM::set vT4 2
SSM::set vT3 2
SSM::cycle 30
SSM::set nightMode true
SSM::set vT1 1
SSM::set sT1X 50.0
SSM::set sT1Y 50.0
SSM::cycle 30

SSM::set xT1 50.0
SSM::set xT1 50.0
SSM::cycle 10

SSM::set visFlightTunnel false
SSM::cycle 20

SSM::cycle 1

SSM::set visFlightTunnel true
SSM::cycle 10

SSM::set rT 100.0
SSM::cycle 10

SSM::set vT1 2
SSM::cycle 30

SSM::cycle 1

SSM::set vT1 1
SSM::set vT1 4
SSM::cycle 30

SSM::set xT1 1.0
SSM::set xT1 1.0
SSM::cycle 10

SSM::set sT1Y 1.0
SSM::cycle 10

SSM::set xT2 2.0
SSM::set xT2 2.0
SSM::set vT2 1
SSM::cycle 10

SSM::set sT2X 2.0
SSM::set sT2Y 2.0
SSM::cycle 10

SSM::set sT3X 3.0
SSM::set sT3Y 3.0
SSM::set vT3 1
SSM::cycle 10

SSM::set sT4X 4.0
SSM::set sT4Y 4.0
SSM::set vT4 1
SSM::cycle 10
SSM::cycle 1
SSM::set vT2 2
SSM::set vT3 3
SSM::cycle 30
SSM::set vT4 2
SSM::set vT3 2
SSM::cycle 30
