SSM::cycle 2

SSM::cycle 1

SSM::set pnAirspeed 50.0
SSM::cycle 1

SSM::set pnAirspeed 100.0
SSM::cycle 75

SSM::cycle 1

SSM::set pnAirspeed 200.0
SSM::cycle 44

SSM::check image {"..\images\references\Scenario11_125.bmp"} filter={"..\images\filters\filter_1581350970779.png"}
SSM::cycle 1

SSM::cycle 1

SSM::set pnAirspeed 300.0
SSM::check image {"..\images\references\Scenario11_127.bmp"} filter={"..\images\filters\filter_1581351030916.png"}
SSM::check image {"..\images\references\Scenario11_127.bmp"} filter={"..\images\filters\filter_1581351026803.png"}
SSM::cycle 1

