

SSM::set xT1 1.0
SSM::set xT1 1.0
SSM::cycle 1

SSM::set sT1Y 1.0
SSM::cycle 1

SSM::set xT2 2.0
SSM::set xT2 2.0
SSM::set vT2 1
SSM::cycle 1

SSM::set sT2X 2.0
SSM::set sT2Y 2.0
SSM::cycle 1

SSM::set sT3X 3.0
SSM::set sT3Y 3.0
SSM::set vT3 1
SSM::cycle 1

SSM::set sT4X 4.0
SSM::set sT4Y 4.0
SSM::set vT4 1
SSM::check image {"..\images\references\Test_Case6_6.bmp"} filter={"..\images\filters\filter_1538397705302.png"}
SSM::cycle 1

SSM::set visFlightTunnel false
SSM::cycle 1
SSM::set visFlightTunnel false 
SSM::cycle 1

